.principal-title {
    padding-left: 30px;
}

#banner {
    width: 100%;
}

.content-container {
    background: #cccccc;
    padding: 20px;
}

p {
    text-align: center;
}

#mission {
    font-size: 20px;
}

em b {
    color: red;
}

.differentials {
    background: white;
    padding: 30px;
}

.items {
    font-style: italic;
}
.title-center {
    text-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.img-differentials {
    width: 50%;
}